<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
  </head>
  <body>

    <h3>Agregar Productos</h3>
      {{!-- form para agregar --}}
    <form id="form">
      Titulo:
      <input type="text" id="title" required/>
      Descripción:
      <input type="text" id="desc" required/>
      Precio:
      <input type="number" id="price" required/>
      Thumbnail/imagen descriptiva:
      <input type="text" id="thumb" />
      Código identificador:
      <input type="text" id="code" required/>
      Stock:
      <input type="number" id="stock" required/>
      <button type="submit">Enviar</button>
    </form>
    <h3>Eliminar productos</h3>
      {{!-- form para borrar --}}
    <form id="formDelete">
      <p>Cual producto desea eliminar?</p>
      <input type="text" id="idField" required placeholder="id del producto" />
      <button type="submit">Enviar</button>
    </form>
    <section id="prods">
      {{! Prods a tiempo real }}
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
  </body>
</html>